In [1]:
import requests
import time

import pandas as pd

In [2]:
# Use pushshift url to access reddit subreddits
url = "https://api.pushshift.io/reddit/search/submission"
subreddit = 'CryptoCurrency'
before = 1623876484
df_list = []

for _ in range(10):
    params = {
        'subreddit': subreddit,
        'size': 100,
        'before': before
    }
    
    # Use json type to tanscript data, change before to earlier 
    res = requests.get(url,params=params)
    json = res.json()
    before = json['data'][-1]['created_utc']
    
    # Create dataframe for json
    dataframe = pd.DataFrame(json['data'])
    df_list.append(dataframe)
    time.sleep(1)

In [3]:
df_c = pd.concat(df_list).reset_index(drop = True)

In [4]:
df_c.to_csv('file/crypto.csv', index = False)

In [8]:
df_c.shape

(1000, 83)

In [11]:
pd.DataFrame(df_c['title'],df_c['score'])

                                                   title
score
0      Crypto miners eye cheap power in Texas, but fe...
38     Hey have you guys seen blockster you can earn ...
1                      Crypto headlines are so tiresome.
1                      Crypto headlines are so tiresome.
1                      Crypto headlines are so tiresome.
...                                                  ...
0      Crypto miners eye cheap power in Texas, but fe...
6      How DeFi’s Open-Source “Immune System” Can Pro...
3                                     What do you think?
1                      Crypto headlines are so tiresome.
1                      Crypto headlines are so tiresome.

[1000 rows x 1 columns]

In [5]:
# Use pushshift url to access reddit subreddits
url = "https://api.pushshift.io/reddit/search/submission"
subreddit = 'StockMarket'
before = 1623876484
df_list = []
for _ in range(10):
    params = {
        'subreddit': subreddit,
        'size': 100,
        'before': before
    }

    
    res = requests.get(url,params=params)
    json = res.json()
    before = json['data'][-1]['created_utc']
    
    dataframe = pd.DataFrame(json['data'])
    df_list.append(dataframe)
    time.sleep(1)

In [6]:
df_s = pd.concat(df_list).reset_index(drop = True)

In [7]:
df_s.to_csv('file/stockmarket.csv',index = False)

In [9]:
df_s.shape

(1000, 81)

In [12]:
pd.DataFrame(df_s['title'],df_s['score'])

                                                   title
score
19     This sucks. This is bad for us. The current US...
1                                           OPT up today
1                                           OPT up today
1                                           OPT up today
1                                           OPT up today
...                                                  ...
1                                           OPT up today
1                                           OPT up today
1                                           OPT up today
1                                           OPT up today
1                                           OPT up today

[1000 rows x 1 columns]